:root {
    --background-color: #121212; /* Rich Black */
    --text-color: #f5f5f5; /* White Smoke */
    --accent-color: #bb86fc; /* Lavender Purple */
    --accent-color-transparent: #8e31ff; /* Transparent Lavender Purple */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 60px;
}

.container {
    max-width: 800px;
    padding: 20px;
    flex: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--accent-color-transparent);
    font-size: 1.2rem;
    border: 2px solid var(--accent-color-transparent);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: var(--accent-color-transparent);
    color: var(--background-color);
}

.project-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.project-list li {
    display: inline-block;
    margin: 10px 0;
}

.back-link {
    margin-top: 30px;
    display: block;
}

button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--accent-color-transparent);
    font-size: 1.2rem;
    border: 2px solid var(--accent-color-transparent);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color-transparent);
    color: var(--background-color);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header {
    width: 100%;
    background-color: var(--background-color);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-buttons button {
    background-color: transparent;
    border: 2px solid var(--accent-color-transparent);
    color: var(--accent-color-transparent);
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-buttons button:hover {
    background-color: var(--accent-color-transparent);
    color: var(--background-color);
}

.nav-icon a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-icon {
    width: 24px;
    height: 24px;
    display: block;
    border: none;
}

.nav-icon a:hover {
    background-color: var(--accent-color-transparent);
}

.github-icon:hover {
    opacity: 0.7;
}
