:root {
    --background-color: #121212; /* Rich Black */
    --text-color: #f5f5f5; /* White Smoke */
    --accent-color: #bb86fc; /* Lavender Purple */
    --accent-color-transparent: #bb86fc57; /* Transparent Lavender Purple */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--accent-color-transparent);
    font-size: 1.2rem;
    border: 2px solid var(--accent-color-transparent);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: var(--accent-color-transparent);
    color: var(--background-color);
}

.project-list {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
}

.project-list li {
    margin: 10px 0;
}

.back-link {
    margin-top: 30px;
    display: block;
}
