<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resirch.site</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container vertical-stack">
        <h1>Resirch.site</h1>
        <p>Welcome to Resirch.site, the place where all my projects are gathered. Explore and learn more about the work I do.</p>
    </div>
</body>
</html>