<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Resirch.site</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container vertical-stack">
        <h1>My Projects</h1>
        <p>Here is a showcase of all my projects:</p>
        <ul class="project-list">
            <li>
                <button class="styled-button" onclick="location.href='/blacksmithing'">Blacksmithing</button>
                <button class="styled-button" onclick="location.href='/forum'">Forum</button>
            </li>
        </ul>
    </div>
</body>
</html>
